extends includes/layout

block body-header
  include includes/header

block body-main
  .main-header
    input.input(type="text" id="fname" name="firstname" placeholder="Escribe una palabra clave")

block body-footer
  include includes/footer