extends includes/layout

block body-header
  include includes/header

block head-link
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
block body-main
  .main-header-template
    input.input(type="text" id="fname" name="firstname" placeholder="Escribe una palabra clave")
  //- Images links templates
  //- Cards
  .cards-section
    .container
      .card-section-heading
        .card-section-heading-title
          //- Title section cards
          h2 Construye los mejores sitios web para posicionar tu marca
        .card-section-heading-text
          //- Text section cards
          p Explora nuevos estilos utilizando nuestras plantillas en marketplace, encuentra las pantillas que inspiren tu proyecto emprendedor
      .cards-group
        .card.box
          .card-image
            img(src="/img/icon (1).png" alt="")
          .card-title
            h3 Site Optimisation.
          .card-text
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae magnam nobis accusamus rem dolores eligendi nam necessitatibus quae exercita
        .card.box
          .card-image
            img(src="/img/icon (2).png" alt="")
          .card-title
            h3 Site adipisicing sit.
          .card-text
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae magnam nobis accusamus rem dolores eligendi nam necessitatibus quae exercitationem consequatur? Autem debitis incidunt deserunt eaque sed sunt aspernatur. Blanditiis, ullam.
        .card.box
          .card-image
            img(src="/img/icon (3).png" alt="")
          .card-title
            h3 Blanditiis ullam consectetur.
          .card-text
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae magnam nobis accusamus rem dolores eligendi nam necessitatibus quae exercitationem consequatur? Autem debitis incidunt deserunt eaque sed sunt aspernatur. Blanditiis, ullam.
        .card.box
          .card-image
            img(src="/img/icon (1).png" alt="")
          .card-title
            h3 Site Optimisation.
          .card-text
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae magnam nobis accusamus rem dolores eligendi nam necessitatibus quae exercita
  //- Cards Category
  .category
    .container
      //- Contenedor - category
      .category-container
        //- Titulo y botón de view All
        hr
        .category-heading
          //- Titulo de la sección
        
          .category-text
            h2 Busca por - Categorias
          //- Botón a sección de las categorías
          .category-button
            a(href="/marketplace").button Ver más...
            a(href="/marketplace").text Ver más...
          //- Linea de división o separación del heading
        hr
        //- Sección de las categorías
        .category-categories
          //- Diseño de las cards para las categorías
          //- icono y titulo del card
          a(href="/").category-card
            .category-icon
              img(src="/img/sport.png", alt="", srcset="")
            .category-title
              h3 Sport

          a(href="/").category-card
            .category-icon
              img(src="/img/music.png", alt="", srcset="")
            .category-title
              h3 Music

          a(href="/").category-card
            .category-icon
              img(src="/img/dark.png", alt="", srcset="")
            .category-title
              h3 Dark

          a(href="/").category-card
            .category-icon
              img(src="/img/collage.png", alt="", srcset="")
            .category-title
              h3 Collage

          a(href="/").category-card
            .category-icon
              img(src="/img/art.png", alt="", srcset="")
            .category-title
              h3 Art

          a(href="/").category-card
            .category-icon
              img(src="/img/gradient.png", alt="", srcset="")
            .category-title
              h3 Gradiente
  //- Sección de algunas plantillas
  .templates 
    .container 
      .templates-container 
        //- Titulo y botón de view All
        hr 
        .templates-heading
          //- Titulo de la sección
          .template-text
            h2 Últimas plantillas
          //- Botón a sección de las categorías
          .template-button
            a(href="/").button Ver más...
            a(href="/").text Ver más...
          //- Linea de división o separación del heading
        hr
        //- Sección de las plantillas-cards
        .template-templates 
        
          .template-card 
            //-slider de imágenes 
            .template-slider
              img(src="/img/plantilla5.webp", alt="", srcset="")
            //-Titulo de la plantilla - precio y botón de acceso
            .template-info
              .template-title 
                h3 Title template
                .stars
                  - var stars = 5;
                  - var n = 0;
                  ul
                    while n < stars
                      li
                        .fa-solid.fa-star.fa-xs
                      - n++
                    span  ㅤ(30)
                a(href="/marketplace").button Ver plantilla
              .price-button
                .price (35,00 €)
                a(href="/").button Buy
        
          .template-card 
            //-slider de imágenes 
            .template-slider
              img(src="/img/plantilla4.jpg", alt="", srcset="")
            //-Titulo de la plantilla - precio y botón de acceso
            .template-info
              .template-title 
                h3 Title template
                .stars
                  - var stars = 5;
                  - var n = 0;
                  ul
                    while n < stars
                      li
                        .fa-solid.fa-star.fa-xs
                      - n++
                    span  ㅤ(30)
                a(href="/").button Ver plantilla
              .price-button
                .price (35,00 €)
                a(href="/").button Buy
        
          .template-card 
            //-slider de imágenes 
            .template-slider
              img(src="/img/plantilla3.webp", alt="", srcset="")
            //-Titulo de la plantilla - precio y botón de acceso
            .template-info
              .template-title 
                h3 Title template
                .stars
                  - var stars = 5;
                  - var n = 0;
                  ul
                    while n < stars
                      li
                        .fa-solid.fa-star.fa-xs
                      - n++
                    span  ㅤ(30)
                a(href="/").button Ver plantilla
              .price-button
                .price (35,00 €)
                a(href="/").button Buy
        
          .template-card 
            //-slider de imágenes 
            .template-slider
              img(src="/img/plantilla2.jpg", alt="", srcset="")
            //-Titulo de la plantilla - precio y botón de acceso
            .template-info
              .template-title 
                h3 Title template
                .stars
                  - var stars = 5;
                  - var n = 0;
                  ul
                    while n < stars
                      li
                        .fa-solid.fa-star.fa-xs
                      - n++
                    span  ㅤ(30)
                a(href="/").button Ver plantilla
              .price-button
                .price (35,00 €)
                a(href="/").button Buy

          .template-card 
            //-slider de imágenes 
            .template-slider
              img(src="/img/plantilla1.jpg", alt="", srcset="")
            //-Titulo de la plantilla - precio y botón de acceso
            .template-info
              .template-title 
                h3 Title template
                .stars
                  - var stars = 5;
                  - var n = 0;
                  ul
                    while n < stars
                      li
                        .fa-solid.fa-star.fa-xs
                      - n++
                    span  ㅤ(30)
                a(href="/").button Ver plantilla
              .price-button
                .price (35,00 €)
                a(href="/").button Buy

          .template-card 
            //-slider de imágenes 
            .template-slider
              img(src="/img/plantilla6.webp", alt="", srcset="")
            //-Titulo de la plantilla - precio y botón de acceso
            .template-info
              .template-title 
                h3 Title template
                .stars
                  - var stars = 5;
                  - var n = 0;
                  ul
                    while n < stars
                      li
                        .fa-solid.fa-star.fa-xs
                      - n++
                    span  ㅤ(30)
                a(href="/").button Ver plantilla
              .price-button
                .price (35,00 €)
                a(href="/").button Buy



  //- .section-group-sliders
  //-   .container
  //-     .group-sliders
  //-       .first-slider
  //-         a.content-slid(href="http://")
  //-           .box-slid
  //-             .title
  //-               h3 Title sections
  //-             .text 
  //-               p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa quae aliquid sint consectetur, beatae id! Aspernatur necessitatibus repellat nobis quod? Modi accusantium harum totam nisi aut incidunt necessitatibus odit optio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, explicabo id tempore saepe quos consectetur voluptatibus repellendus recusandae dolor accusamus sed qui facere maxime repellat officiis consequatur commodi? Vel, aut.
  //-         .image 
  //-           img(src="/img/plantilla5.webp" alt="")
  //-       .second-slider
  //-         a.content-slid(href="http://")
  //-           .box-slid
  //-             .title
  //-               h3 Title sections
  //-             .text 
  //-               p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa quae aliquid sint consectetur, beatae id! Aspernatur necessitatibus repellat nobis quod? Modi accusantium harum totam nisi aut incidunt necessitatibus odit optio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, explicabo id tempore saepe quos consectetur voluptatibus repellendus recusandae dolor accusamus sed qui facere maxime repellat officiis consequatur commodi? Vel, aut.
  //-         .image 
  //-           img(src="/img/plantilla2.jpg" alt="")
  //-         a(href="/").button 
  //-       .third-slider
  //-         a.content-slid(href="http://")
  //-           .box-slid
  //-             .title
  //-               h3 Title sections
  //-             .text 
  //-               p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa quae aliquid sint consectetur, beatae id! Aspernatur necessitatibus repellat nobis quod? Modi accusantium harum totam nisi aut incidunt necessitatibus odit optio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, explicabo id tempore saepe quos consectetur voluptatibus repellendus recusandae dolor accusamus sed qui facere maxime repellat officiis consequatur commodi? Vel, aut.
          
  //-         .image 
  //-           img(src="/img/plantilla3.webp" alt="")
  //-         a(href="/").button 
  //-       .fourth-slider
  //-         a.content-slid(href="http://")
  //-           .box-slid
  //-             .title
  //-               h3 Title sections
  //-             .text 
  //-               p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa quae aliquid sint consectetur, beatae id! Aspernatur necessitatibus repellat nobis quod? Modi accusantium harum totam nisi aut incidunt necessitatibus odit optio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, explicabo id tempore saepe quos consectetur voluptatibus repellendus recusandae dolor accusamus sed qui facere maxime repellat officiis consequatur commodi? Vel, aut.
          
  //-         .image 
  //-           img(src="/img/plantilla4.jpg" alt="")
  //-         a(href="/").button 
  //-       .fifth-slider
  //-         a.content-slid(href="http://")
  //-           .box-slid
  //-             .title
  //-               h3 Title sections
  //-             .text 
  //-               p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa quae aliquid sint consectetur, beatae id! Aspernatur necessitatibus repellat nobis quod? Modi accusantium harum totam nisi aut incidunt necessitatibus odit optio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, explicabo id tempore saepe quos consectetur voluptatibus repellendus recusandae dolor accusamus sed qui facere maxime repellat officiis consequatur commodi? Vel, aut.
          
  //-         .image 
  //-           img(src="/img/plantilla1.jpg" alt="")
  //-         a(href="/").button 





















  //- .slide
  //-   section#slider
  //-     input.card-slider(type="radio" name="slider" id="s1" checked)
  //-     input.card-slider(type="radio" name="slider" id="s2")
  //-     input.card-slider(type="radio" name="slider" id="s3")
  //-     input.card-slider(type="radio" name="slider" id="s4")
  //-     input.card-slider(type="radio" name="slider" id="s5")
  //-     label(for="s1" id="slide1" class="card-slider")
  //-       .label-container
  //-         .icon
  //-           .fa-solid.fa-heart
  //-         .image
  //-           img(src="/img/plantilla.png" alt="" srcset="")
  //-         .text
  //-           h3 Blanditiis ullam consectetur.
  //-           p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae magnam nobis accusamus rem dolores eligendi nam necessitatibus quae exercitationem consequatur? Autem debitis incidunt deserunt eaque sed sunt aspernatur. Blanditiis, ullam.
  //-       .banner-bottom
  //-         .stars
  //-           - var stars = 5;
  //-           - var n = 0;
  //-           ul
  //-             while n < stars
  //-               li
  //-                 .fa-solid.fa-star.fa-xs
  //-               - n++
  //-         a(href="http://").price (35,00 €)


  //-     label(for="s2" id="slide2" class="card-slider")
  //-     label(for="s3" id="slide3" class="card-slider")
  //-     label(for="s4" id="slide4" class="card-slider")
  //-     label(for="s5" id="slide5" class="card-slider")



  //- .banner
  //-   .container
  //-     .banner__container
  //-       .banner__fondo
  //-         img(src="" alt="" srcset="")
  //-       .banner__container--Text
  //-         h2 Explora nuevos estilos utilizando nuestras plantillas en marketplace.
  //-         p Sin pagos adicionales
  //-       .banner__button
  //-         p Explorar plantillas


block body-footer
  include includes/footer
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script(src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js")