extends includes/layout

block body-header
  include includes/header

block body-main
  .main-header
    input.input(type="text" id="fname" name="firstname" placeholder="Escribe una palabra clave")

  //- Cards
  .banner
    .container
      .banner__container
        .banner__fondo
          img(src="", alt="", srcset="")
        .banner__container--Text
          h2 Explora nuevos estilos utilizando nuestras plantillas en marketplace.
          p Sin pagos adicionales 
        .banner__button 
          p Explorar plantillas


  .prices


block body-footer
  include includes/footer