extends includes/layout

block body-header
  include includes/header

block body-main
  .main-header
    input.input(type="text" id="fname" name="firstname" placeholder="Escribe una palabra clave")

  //- Cards
  .banner
    .container
      .banner__container
        .banner__fondo
          img(src="", alt="", srcset="")
        .banner__container--Text
          h2 Explora nuevos estilos utilizando nuestras plantillas en marketplace.
          p Sin pagos adicionales 
        .banner__button 
          p Explorar plantillas

  .cards-section 
    .container 
      .card-section-heading
        .card-section-heading-title
          h2 Construye los mejores sitios web para posicionar tu marca
        .card-section-heading-text
          p Explora nuevos estilos utilizando nuestras plantillas en marketplace, encuentra las pantillas que inspiren tu proyecto emprendedor 
      .cards-group
        .card.box
          .card-image 
            img(src="/img/icon (1).png", alt="")
          .card-title 
            h3 Site Optimisation.
          .card-text 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae magnam nobis accusamus rem dolores eligendi nam necessitatibus quae exercita
        .card.box
          .card-image 
            img(src="/img/icon (2).png", alt="")
          .card-title 
            h3 Site adipisicing sit.
          .card-text 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae magnam nobis accusamus rem dolores eligendi nam necessitatibus quae exercitationem consequatur? Autem debitis incidunt deserunt eaque sed sunt aspernatur. Blanditiis, ullam.
        .card.box
          .card-image 
            img(src="/img/icon (3).png", alt="")
          .card-title 
            h3 Blanditiis ullam consectetur.
          .card-text 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae magnam nobis accusamus rem dolores eligendi nam necessitatibus quae exercitationem consequatur? Autem debitis incidunt deserunt eaque sed sunt aspernatur. Blanditiis, ullam.




block body-footer
  include includes/footer