extends includes/layout

block body-header
  include includes/header

block body-main
  //- market content size
  .main-header-template
    input.input(type="text" id="fname" name="firstname" placeholder="Escribe una palabra clave")
  .template
    .template-container
      .template-info
        .template-info__image
          img(src="/img/plantilla2.jpg", alt="", srcset="")
        .template-info-content
          a(href="/template").template-info-content__category Deportes, Actividades
          .template-info-content__title Sint ratione recusandae 
          .template-info-content__date 10 Agost 2022
          .template-info-content__author David Burbano
          button.template-info-content__button Preview
            img(src="/img/ico/layout1.svg", alt="", srcset="")
        .template-info-card
          .template-info-card-container
            .basic
              h2 Basic
              h4 Free
              h6 3,000 monthly visitors
              ul.basic-ul
                li.basic-li Limited Reports
                li.basic-li Unlimited Projects
                li.basic-li Data storage for 1 year
              button.basic-btn Start now
            .pro
              h2 Pro
              h4 $19 / month
              h6 10,000 monthly visitors
              ul.pro-ul
                li.pro-li Unlimited Reports
                li.pro-li 15-day free trial
                li.pro-li Data storage for 3 years
              button.pro-btn Try it
      .template-main
        .template-main__tabs-list 
          ul.tabs-list__container 
            li.tab-item Descripción 
            li.tab-item.tab-item__tab--select Opiniones
            li.tab-item Resumen del producto
            li.tab-item Desarrollador
        
    .template-main__tab-container
            
            
            



block body-footer
  include includes/footer