footer
  .container
    .footer-container 
      .description 
        .description__icon
          img(src="/img/blancologo.svg", alt="", srcset="")
        .description__text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente provident, facere, totam unde veniam, facilis iusto reprehenderit distinctio earum obcaecati asperiores minima placeat. Voluptatem esse officiis delectus dolorum porro itaque!
        .description__networks
          a(href="/")
            .fa-brands.fa-facebook-f.fa-lg
          a(href="/")
            .fa-brands.fa-instagram.fa-lg
          a(href="/")
            .fa-brands.fa-twitter.fa-lg
          a(href="/")
            .fa-brands.fa-linkedin.fa-lg
      .marketplace 
        h2 Marketplace
        ul 
          li
            a(href="/") Empresas
          li
            a(href="/") Ventas
          li
            a(href="/") Dominios y nombres
          li
            a(href="/") Colecciones
          li
            a(href="/") Musica
      .company 
        h2 Nuestra empresa
        ul 
          li
            a(href="/") About
          li
            a(href="/") Contacto
          li
            a(href="/") Nuestro blog
          li
            a(href="/") FAQ
      .myAcount
        h2 Mi cuenta
        ul 
          li
            a(href="/") Mis plantillas
          li
            a(href="/") Crear plantilla
          li
            a(href="/") Perfil
      .legal 
        .year 
          p © 2022 Banaky 
        .links 
          ul 
            li
              a(href="/") Política de privacidad
            li
              a(href="/") Políticas de cookies
            li
              a(href="/") Aviso Legal


