header
  nav.nav
    canvas#canvas
    .logo 
      img(src="/img/blancologo.svg", alt="", srcset="")
    .menu 
      img(src="/img/menu.svg", alt="", srcset="")
    .navigation 
      ul 
        li 
          a(href="/") 
            span Home
        li 
          a(href="/") 
            span Plantillas
            .fa-solid.fa-angle-down.fa-xs
        li 
          a(href="/") 
            span Servicios
            .fa-solid.fa-angle-down.fa-xs
        li 
          a(href="/") 
            span Crear
            .fa-solid.fa-angle-down.fa-xs
        li 
          a(href="/") 
            span About 
    .sign-user
      .sign-in
        a(href="/") 
          span Crear cuenta
      .sign-up 
        a(href="/") 
          span Ingresar
    .shopping-cart
      a(href="/")
        .fa-solid.fa-cart-shopping


